<p>user works!</p>
<form [formGroup]="userForm">
  <div class="container">
    <div class="row">
      <div class="col-6 ">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" type="text" name="name">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="text" name="email">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Age</mat-label>
          <input matInput formControlName="age" type="text" name="age">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender">
            <mat-option value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Phone</mat-label>
          <input matInput formControlName="phone" type="text" name="phone">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input matInput formControlName="address" type="text" name="address">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Bio</mat-label>
          <textarea matInput formControlName="bio" type="text" name="bio"></textarea>
        </mat-form-field>
        <br>
        <button mat-raised-button color="accent">Submit</button>
      </div>
      <div class="col-6">
        <pre>{{userForm.value|json}}</pre>
      </div>
    </div>
  </div>

</form>
