<p>form works!</p>
<form
  autocomplete="off"
  #bookForm = "ngForm">
  <div class="form-group">
    <label>Book Name</label>
    <input name="name" [(ngModel)] = "book.name" type="text" class="form-control">

    <label >Year</label>
    <input  name="year" [(ngModel)] = "book.year" type="text" class="form-control">

    <label>Stars</label>
    <input  name="stars" [(ngModel)] = "book.author" type="text" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary mr-1">Save</button>
<h2>Book's Information</h2>
  <p>{{book.name}}</p>
  <p>{{book.year}}</p>
  <p>{{book.author}}</p>
</form>
